*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: white;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/12/1552365328419-29f8d6897fe660382250d359b5d0b970.jpeg?tr=q-75);
}
.card__image--river {
  background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/12/1552365145406-d230c77219ba301178c275d5329bc3f3.jpeg?tr=q-75);
}
.card__image--record {
  background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/12/1552365039250-2621a8120afdb674c4cd9e43e827ac73.jpeg?tr=q-75);
}
.card__image--fence {
  background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/01/1551414665635-4fab2fb1f841f369b1facb28ac23493a.jpeg?tr=q-75);
}
.card__image--a {
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/12/1552365288879-8a6e09f66be561e25d2d70e43e493455.jpeg?tr=q-75);
  }
  .card__image--b {
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/12/1552365232886-bcafdb4768f8f1a78877350713ba9fd5.jpeg?tr=q-75);
  }
  .card__image--c {
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/01/1551423906469-38c4ad2a8e198f5fbb0960197e86ada7.jpeg?tr=q-75);
  }
  .card__image--d {
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/01/1551423922982-090fa2f55fc2ac2c5b23c9cd411ef013.jpeg?tr=q-75);
  }
  .card__image--e {
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2019/03/01/1551423906469-38c4ad2a8e198f5fbb0960197e86ada7.jpeg?tr=q-75);
  }
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
